@media (prefers-color-scheme: light) {
    :root {
        --background-color: #eee;
        --color: #0f0f0f;
        --selected-tab-color: MenuText;
        --selected-tab-background-color: Menu;
        --state-enabled-color:lime;
        --tab-background-color: #ddd;
        --tab-title-color: #157EFB;
        --tab-url-color: gray;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222;
        --color: #f0f0f0;
        --selected-tab-color: Menu;
        --selected-tab-background-color: MenuText;
        --state-enabled-color: purple;
        --tab-background-color: #333;
        --tab-title-color: #157EFB;
        --tab-url-color: #f0f0f0;
    }

    .state {
        filter: invert(180);
    }
}

.right {
    float: right;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    padding: 0;
    margin: 0;
    min-width: 600px;
}

img {
    margin-right: 8px;
}

.small {
    width: 16px;
    height: 16px;
}

.big {
    width: 32px;
    height: 32px;
}

.state {
    opacity: 0.5;
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

.state--enabled {
    border-bottom: var(--state-enabled-color) 2px solid;
    opacity: 1;
}

.state--audible {
    content: url("resources/sound_audible.png");
}

.state--muted {
    content: url("resources/sound_muted.png");
}

.state--incognito {
    content: url("resources/chrome-incognito-v1.png");
}

.state--pinned {
    content: url("resources/pinned.png");
}

.tab__url {
    margin: 0;
    overflow-wrap: anywhere;
    font-style: italic;
}

img.logo-32 {
    content: url("resources/icon_32.png");
}

img.close {
    content: url("resources/close-tranparent.png");
    cursor: default;
    padding: 0;
    width: 18px;
    height: 18px;
}

img.close:hover {
    content: url("resources/close-tranparent-hover.png");
}

a {
    color: var(--tab-title-color);
    vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    background-color: var(--tab-background-color);
    border: none;
    cursor: pointer;
    display: none;
    margin: 2px 0;
    list-style-type: none;
    padding: 8px;
}

li:first-child {
    margin: 0 0 2px 0;
}

li:last-child {
    margin: 2px 0 0 0;
}

li.hidden {
    opacity: 0.2;
    transition: opacity 1s linear;
}

li.selected {
    background-color: var(--selected-tab-background-color);
    color: var(--selected-tab-color);
}

li.visible {
    display: block;
}

ul span {
    background-color: Highlight;
    color: HighlightText;
    vertical-align: top;
}

ul em {
    color: var(--tab-url-color);
    width: 100%;
    display: block;
}

input {
    background-color: var(--background-color);
    color: var(--color);
    outline: none;
    padding: 0.5rem;
    width: 100%;
    margin: 0;
    border: 0;
}

input:focus-visible {
    outline: pink;
}

input::placeholder {
    font-style: italic;
}

.about {
    color: #157EFB;
    padding: 5px;
}

.about p {
    font-weight: bold;
}
