.right {
    float: right;
}
body {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 600px;
    width: 100%;
}
img {
    padding-right: 8px;
}
img.disabled {
    opacity: 0.1;
}
.small {
    width: 16px;
    height: 16px;
}
.big {
    width: 32px;
    height: 32px;
}
img.audible {
    content: url("resources/sound_audible.png");
}
img.muted {
    content: url("resources/sound_muted.png");
}
img.incognito {
    content: url("resources/chrome-incognito-v1.png");
}
img.pinned {
    content: url("resources/pinned.png");
}
img.logo-32 {
    content: url("resources/icon_32.png");
}

img.close {
    content: url("resources/close-tranparent.png");
    cursor: default;
    padding: 0;
    width: 18px;
    height: 18px;
}
img.close:hover {
    content: url("resources/close-tranparent-hover.png");
}

a {
    vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: silver;
    border-left-width: 4px;
    border-right-width: 4px;
    cursor: pointer;
    display: none;
    margin: 0;
    list-style-type: none;
    padding: 8px;
}
li.hidden {
    opacity: 0.2;
    transition: opacity 1s linear;
}
li.selected {
    background-color: Menu;
}
li.visible {
    display: block;
}
ul span {
    background-color: Highlight;
    color: HighlightText;
    vertical-align: top;
}
ul em {
    color: gray;
    width: 100%;
}

.windowId {
    font-style: italic;
}

input {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

input::placeholder {
    font-style: italic;
}

.about {
    color: #157EFB;
    padding: 5px;
}

.about p {
    font-weight: bold;
}
