.right {
    float: right;
}
body {
    padding: 0;
    margin: 0;
    min-width: 600px;
    width: 100%;
}
img {
    padding-right: 8px;
}
img.small {
    width: 16px;
    height: 16px;
}
img.big {
    width: 32px;
    height: 32px;
}
img.audible {
    content: url("resources/sound_audible.png");
}
img.muted {
    content: url("resources/sound_muted.png");
}
img.incognito {
    content: url("resources/chrome-incognito-v1.png");
}
img.pinned {
    content: url("resources/pinned.png");
}

a {
    text-overflow: ellipsis;
    position: absolute;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: silver;
    cursor: pointer;
    display: none;
    margin: 0;
    list-style-type: none;
    padding: 8px;
}
li.selected {
    background-color: Menu;
    color: MenuText;
}
li.visible {
    display: block;
}
span {
    background-color: Highlight;
    color: HighlightText;
}
em {
    color: gray;
    width: 100%;
}
input {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}